* {
	margin: 0;
	padding: 0;
	text-align: center;
}
 
.contenedor {
	background:#ccc;
	width:100%;
	max-width:100%;
	margin:auto;
 
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
 
body {
	background:#e9e9e9;
}
 
header {
	background: #544b51 ;
	width:100%;
	padding:20px;
 
	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
 
header .logo {
	color:#fff;
	font-size:30px;
}
 
header .logo img {
	width:50px;
	vertical-align: top;
}
 
header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}
 
header nav {
	width:30%;
	/* Flexbox */
 
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
 
header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}
 
header nav a:hover {
	background:#e74c3c;
}
 
.main {
	background:#FFF;
	padding: 6%;
	width: 80%;
	height: 80%;
	flex:1 1;
	/*flex:1;*/
}
.main section{
	padding: 3%;
	display: flex;
	justify-content:center;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
.main section select{
	padding: 3%;
	width: 100px;
}
.main nav{
	padding: 3%;
}

.main nav a{
	
	border: 1px solid #000000;
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}


.main .tabla table{
	padding-top: 50px;
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

.main .tabla table th, td{
	padding: 20px;
}

.main .tabla table thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

.main .tabla table tr:nth-child(even){
	background-color: #ddd;
}

.main .tabla table tr:hover td{
	background-color: #369681;
	color: white;
}


h1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: brown;
}
h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #24b8c2;
}

.main .sec button{

	border: 1px solid #000000;
	background: #24b8c2;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}
.overlay{
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.overlay.active{
	visibility: visible;
}

.popup{
	background: #F8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	border-radius: 3px;
	font-family: sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
}

.popup img{
	width: 16px;
	display: block;
	float: right;
}

.popup h3{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
}

.popup form .inputs input{
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	text-align:center;
	font-size: 18px;
	border: 1px solid #bbbbbb;
}

.popup form .btn_submit{
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #24b8c2;
}

fieldset{
	border: 0px;
	margin:auto;
}
form ol li label{
    width:200px;
    float:left;
    text-align:left;
}

.form_login{
	color:  #24b8c2 ;
}
.main table tr td{
	width: 200px;
}
.tabla{
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
form{
	color: brown;
	width: 100%;
	padding-top: 3%;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
 
form ol{
    list-style:none;
}

form input.btn {
	padding: 5px;
	width: 30%;
    color:black;
    background-color:#aafc5d;
	border:1px solid #000000;
	text-align: center;

	align-content: center;
	display: flex;
	flex-wrap:wrap;

}
.btn_login{
	padding: 5px;
	width: 100%;
    color:#FFF;
    background-color:#24b8c2;
	border:1px solid #000000;
	text-align: center;

}


@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}
 
	header {
		flex-direction:column;
		padding:0;
	}
 
	header .logo {
		margin:20px 0;
	}
 
	header nav {
		width: 100%;
	}
 
}
 
@media screen and (max-width: 600px) {

	form{
		flex-direction:column;
	}
 
	footer {
		justify-content:space-around;
	}
}