* 
	margin: 0 
	padding: 0 
	text-align: center 
.contenedor 
	background: #ccc 
	width: 100% 
	max-width: 100% 
	margin: auto 
	display: flex 
	flex-flow: row wrap 
body 
	background: #e9e9e9 
header 
	background: #544b51 
	width: 100% 
	padding: 20px 
	display: flex 
	justify-content: space-between 
	align-items: center 
	flex-direction: row 
	flex-wrap: wrap 
	flex-direction: column 
	padding: 0 
	.logo 
		color: #fff 
		font-size: 30px 
		margin: 20px 0 
		img 
			width: 50px 
			vertical-align: top 
		a 
			color: #fff 
			text-decoration: none 
			line-height: 50px 
	nav 
		width: 30% 
		display: flex 
		flex-wrap: wrap 
		align-items: center 
		width: 100% 
		a 
			background: #c0392b 
			color: #fff 
			text-align: center 
			text-decoration: none 
			padding: 10px 
			flex-grow: 1 
			&:hover 
				background: #e74c3c 
.main 
	background: #FFF 
	padding: 6% 
	width: 80% 
	height: 80% 
	flex: 1 1 
	section 
		padding: 3% 
		display: flex 
		justify-content: center 
		align-items: center 
		flex-direction: row 
		flex-wrap: wrap 
		select 
			padding: 3% 
			width: 100px 
	nav 
		padding: 3% 
		a 
			border: 1px solid #000000 
			background: #c0392b 
			color: #fff 
			text-align: center 
			text-decoration: none 
			padding: 10px 
			flex-grow: 1 
	.tabla 
		table 
			padding-top: 50px 
			background-color: white 
			text-align: left 
			border-collapse: collapse 
			width: 100% 
			thead 
				background-color: #246355 
				border-bottom: solid 5px #0F362D 
				color: white 
			tr 
				&:nth-child(even) 
					background-color: #ddd 
				&:hover 
					td 
						background-color: #369681 
						color: white 
	.sec 
		button 
			border: 1px solid #000000 
			background: #24b8c2 
			color: #fff 
			text-align: center 
			text-decoration: none 
			padding: 10px 
			flex-grow: 1 
	table 
		tr 
			td 
				width: 200px 
.main .tabla table th, td 
	padding: 20px 
h1 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
	color: brown 
h3 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
	color: #24b8c2 
.overlay 
	background: rgba(0, 0, 0, .3) 
	position: fixed 
	top: 0 
	bottom: 0 
	left: 0 
	right: 0 
	display: flex 
	align-items: center 
	justify-content: center 
	visibility: hidden 
	&.active 
		visibility: visible 
.popup 
	background: #F8f8f8 
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3) 
	border-radius: 3px 
	font-family: sans-serif 
	padding: 20px 
	text-align: center 
	width: 600px 
	img 
		width: 16px 
		display: block 
		float: right 
	h3 
		font-size: 36px 
		font-weight: bold 
		margin-bottom: 10px 
	form 
		.inputs 
			input 
				width: 100% 
				margin-bottom: 20px 
				height: 52px 
				line-height: 52px 
				text-align: center 
				font-size: 18px 
				border: 1px solid #bbbbbb 
		.btn_submit 
			padding: 0px 20px 
			height: 40px 
			line-height: 40px 
			border: none 
			color: #fff 
			background: #24b8c2 
fieldset 
	border: 0px 
	margin: auto 
form 
	color: brown 
	width: 100% 
	padding-top: 3% 
	text-align: center 
	display: flex 
	justify-content: center 
	align-items: center 
	flex-direction: row 
	flex-wrap: wrap 
	ol 
		list-style: none 
		li 
			label 
				width: 200px 
				float: left 
				text-align: left 
	input 
		&.btn 
			padding: 5px 
			width: 30% 
			color: black 
			background-color: #aafc5d 
			border: 1px solid #000000 
			text-align: center 
			align-content: center 
			display: flex 
			flex-wrap: wrap 
.form_login 
	color: #24b8c2 
.tabla 
	text-align: center 
	display: flex 
	justify-content: center 
	align-items: center 
	flex-direction: row 
	flex-wrap: wrap 
.btn_login 
	padding: 5px 
	width: 100% 
	color: #FFF 
	background-color: #24b8c2 
	border: 1px solid #000000 
	text-align: center 
@media 
	screen 
		and 
			(max-width 
				&: 
					800px) 
						.contenedor {
		flex-direction: column 
} 
	@media 
		screen 
			and 
				(max-width 
					&: 
						600px) 
							form{
		flex-direction: column 
footer 
	justify-content: space-around 
