<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tico Rides</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="contenedor">
        <header>
			<div class="logo">
				<img src="img/tico.png" width="150" alt="">
				<a href="Index2.html">TicoRides</a>
			</div>
 
			<nav>
				<a href="#" id="usuario"></a>
				<a href="Index.html" id="cerrar">Cerrar Sesion</a>
			</nav>
        </header>
		<div class="main">
        <div class="sec">
            <h3>Origen</h3>
            <section>
                <div>
                    Provincia:
                    <select id="provincia"> Provincias </select>
                </div>
                <br><br>
                <div>
                    Canton:
                    <select id="canton"> Cantones   </select>
                </div>
                <br><br>
                <div>
                    Distrito:
                    <select id="distrito"> Distritos</select>
                </div>
                </section>
                <h3>Destino</h3>
                <section>
                    <div>
                        Provincia:
                        <select id="provincia1"> Provincias </select>
                    </div>
                    <br><br>
                    <div>
                        Canton:
                        <select  id="canton1"> Cantones </select>
                    </div>
                    <br><br>
                    <div>
                        Distrito:
                        <select  id="distrito1"> Distritos</select>
                    </div>
                </section>
                <button>Buscar</button>

        </div>

		<nav>
			<a href="" id="btn_abrir">Agregar</a>
            <a href="" id="btn_abrir">Editar</a>
            <a href="" id="eliminar">Eliminar</a>			
        </nav>
        
        <div class="overlay" id="overlay active">
            <div class="popup" id="popup">
                <a href="#"  id="btn_cerrar" class=""><img src="img/cerrar.png" alt=""></a>
                <h3>Agregar Viaje</h3>
                <form action="">
                    <div class="inputs">
                        <input required type="text" name="origen" size="40" placeholder="Origen">
                        <input required type="text" name="destino" size="40" placeholder="Destino">
                        <input required type="text" name="hora" size="40" placeholder="Hora">     
                        <input required type="text" name="conductor" size="40" placeholder="Conductor">
                        <input required type="text" name="placa" size="40" placeholder="Placa">
                    </div>             
                    <input type="submit" class="btn_submit" value="Agregar">
                </form>
            </div>
        </div>
		
		<div class="tabla">
		<table title="Viajes">
            <tr>
            <td></td>
            <td><strong>Origen</strong></td>
            <td><strong>Destino</strong></td>
            <td><strong>Hora</strong></td>
            <td><strong>Conductor</strong></td>
            <td><strong>Placa</strong></td>
            </tr>

            <tr>
            <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
            <td>CSS</td>
            <td>afsafsaf</td>
            <td>16:00</td>
            <td>Manuel</td>
            <td>778234</td>
            </tr>

            <tr>
            <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
            <td>HTML</td>
            <td>asdadas</td>
            <td>20:00</td>
            <td>Andrey</td>
            <td>923423</td>
            </tr>

            <tr>
            <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
            <td>Dreamweaver</td>
            <td>asfasfasf</td>
            <td>15:00</td>
            <td>Maria</td>
            <td>290892</td>
            </tr>
            </table>
		</div>
		</div>
<!--         <footer>
            ©2020 Tico Rides
        </footer> -->
    </div>
    <script src="js/geolocalizacion.js"></script>
    <script src="js/Session.js"></script>
    <script src="js/popup.js"></script>
</body>
</html>